.bottom-shadow {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.10);
}

.hover-anim-y {
    transition: all 0.25s ease !important;
}
.hover-anim-y:hover {
    transform: translateY(-8px);
}

.hover-anim-x {
    transition: all 0.25s ease !important;
}
.hover-anim-x:hover {
    transform: translateX(8px);
}

::-webkit-scrollbar {
    display: none;
}